body {
  font-family: 'Roboto', sans-serif !important;
}

.btn-primary {
  background-color: #7A003C;
  color: white;
  border-color: #7A003C;
}

.btn-primary:hover {
  background-color: white;
  color: #7A003C;
  border-color: #7A003C !important;
}

.btn-primary:active {
  background-color: white;
  color: #7A003C;
  border-color: #7A003C !important;
}

.btn-primary:focus {
  background-color: #7A003C;
  color: white;
  border-color: #7A003C;
}

.btn-search {
  width: 4rem;
}